<table data-fieldname="actions_table" class="table">
    <tbody>
        <tr>
            <td>
                <button 
                    data-action="open"
                    type="button"
                    class="btn btn-link"
                >
                    <!-- {{ __("Try to Open") }} -->
                    {{ __("Abrir") }}
                </button>
            </td>
            <td>
                <button
                    data-action="copy"
                    type="button"
                    class="btn btn-link"
                >
                    <!-- {{ __("Copy to Clipboard") }} -->
                    {{ __("Copiar") }}
                </button>
            </td>
            <td>
                <button
                    data-action="searchwebcopy"
                    type="button"
                    class="btn btn-link"
                >
                    <!-- {{ __("Search Online") }} -->
                    {{ __("Buscar En Linea") }}
                </button>
            </td>
        </tr>
    </tbody>
</table>