include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include peark *.css
recursive-include peark *.csv
recursive-include peark *.html
recursive-include peark *.ico
recursive-include peark *.js
recursive-include peark *.json
recursive-include peark *.md
recursive-include peark *.png
recursive-include peark *.py
recursive-include peark *.svg
recursive-include peark *.txt
recursive-exclude peark *.pyc