{% for d in data %}
<div class="dashboard-list-task">
    <div class="row">
        <div class="col-sm-4 small" style="margin-top: 8px;">
            <a data-type="project" data-name="{{ d.project }}">
                <strong>{{ d.project }}</strong>: {{ d.project_title || d.title || d.subject }}
            </a>
        </div>
        <div class="col-sm-4 small" style="margin-top: 8px;">
            <a data-type="Project" data-name="{{ d.project }}">
                {{ d.subject }}

                {% if show_department && d.department %}
                    (<strong>{{ d.department }}</strong>)
                {% endif %}
            </a>
        </div>
        <div class="col-sm-2 small" style="margin-top: 8px;">
            <span 
                data-type="Task"
                data-name="{{ d.name }}"
                class="indicator {{ frappe.utils.guess_colour(d.status) }}"
            >
                {{ __(d.translated_status || d.status) }}
            </span>
        </div>
        {% if can_write %}
        <div class="col-sm-1 text-right" style="margin-top: 8px;">
            <button 
                class="btn btn-primary btn-xs btn-action {% if d.status == "Completed" %} hide {% endif %}"
                data-name="{{ d.name }}"
                data-doctype="{{ d.doctype || "Task" }}"
                data-action="close">{{ __("Cerrar") }}
            </button>

            <button 
                class="btn btn-default btn-xs btn-action  {% if d.status != "Completed" %} hide {% endif %}"
                data-name="{{ d.name }}"
                data-doctype="{{ d.doctype || "Task" }}"
                data-action="open">{{ __("Re-Abrir") }}
            </button>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}