<div data-fieldname="call-to-action" class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        {{ __("Actions") }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {% for d in actions %}
              <li>
                <a
                    href="#"
                    data-status="{{ d.status }}"
                    data-next-status="{{ d.next_status }}">
                    {{ __(d.action) }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>